body {
  background-color: white;
  font-family: arial, sans-serif;
  margin: 20px 0 0 0;
  height: 100%;
}

li {
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
}

header li:hover {
  color: #666;
  text-decoration: underline;
}

header nav { 
	display: block; 
  height: 30px; 
  margin: 10px 0;
  padding: 10px 10px 10px 10px; 
}

header ul {
  float: right;
  list-style-type: none;
  font-size: 14px;
  text-align: right;
  margin: 5px 0 0 0;
  padding: 0;
}

header li {
  display:inline-block;
  float: left;
  padding: 0 15px 0 6px;
}

#sign_in {
  color: white; 
	border-radius: 2px;
  height: 32px;
	padding: 0px 15px; 
	background-color: #4285f4; 
  border: 1px #4285f4;
  font-size: 12px; 
  font-weight: bolder;
}

.center { 
	padding-top: 110px;
	text-align: center;
 	margin: auto;
  width: 40%;
}

#search {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #dfdfdf;
  border-radius: 2px;
}

#search:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.button {
  margin: 20px 2px 0 2px;
  height: 32px;
  padding: 0 16px 0 16px;
  font-weight: bolder;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  color: #757575;
}

.button:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.left_bar {
  display: inline-block;
  float: left;
}

.right_bar {
  display: inline-block;
  float: right;
  padding: 0 30px 5px 0;
}